body { background-color:#FFFFCC; color:#000033;}
h2 {margin-top:8px; margin-bottom:4px;
       font-weight: 900; letter-spacing:2px; font-size: 20px;
       font-family:"Verdana";       color:#003399; }
h3 {margin-top: 6px; margin-bottom: 3px; margin-left:12px;
       font-weight: 700; letter-spacing: 1px; font-size: 16px;
       font-family:"Verdana";       color:#996600; }
h4 {margin-top:2px; margin-bottom:2px; font-weight:400;
        margin-left:20px; font-size:14px;
        font-family:"Georgia";}
ul {font-size:14px; font-family:"Georgia"; margin-top:4px;
    margin-bottom: 2px;}
