body {background-color: rgb(32, 95, 42); color: #1814eb}
p {font-family: Arial; font-size: 14px}
strong {font-size: 22px; font-weight: 600}
h2 {margin-top:8px; margin-bottom:4px;
       font-weight: 900; letter-spacing:2px; font-size: 20px;
       font-family:"Verdana";       color:#003399; }
h3 {color: #0000FF}
em {font size: 16px; font-style: italic; text-transform: uppercase;
color: #000033; background-color: #FFFFCC}
